<section class="s-block">
  {% for item in collection %}
    {% if item.banner %}
      <div class="bg-[#0fb0cc] text-white text-center py-3 px-4 rounded-md mb-4">
        <marquee direction="right">{{ item.banner }}</marquee>
      </div>
    {% endif %}
  {% endfor %}
</section>

